@import "./variables";
@import "mixins";
li {
  list-style: none;
  float: left;
  margin-right: 60px;
  a {
    color: $grey-100;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    &:hover {
      color: $adjacent;
    }
  }
}
.mobile-menu {
  @include desktop {
    display: none;
  }
  .toggle {
    width: 50px;
  }
}
.menu {
  @include mobile {
    display: none;
  }
}