@import "./variables";
@import "mixins";
.section {
  text-align: center;
  margin-bottom: $section-margin;
  h2 {
    color: $grey-300;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 3em;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  h3 {
    color: $grey-100;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: $section-margin;
    @include mobile { font-size: 1.1rem; }
  }
}