$dark : #191919;
$white : #D9D9D9;
$white-100 : #ffffff;

$grey-100 : #A7A7A7;
$grey-300 : #CCCCCC;
$grey-500 : #363636;

$secondary : #E70FAA;
$adjacent : #00C0FD;

$footer-divider : #141414;

$desktop : 1200px;
$tablet : 800px;
$mobile : 799px;

$section-margin : 6.25rem;