@import "./variables";
@import "./_mixins.scss";
html, body {

  background-color: $dark;
  h1 {
    color: $grey-300;
    font-family: "Poppins", sans-serif;
  }
  p {
    color: $grey-300;
    font-family: "Poppins", sans-serif;

  }
  .container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    @include tablet {
      width: 80%;
    }
    @include mobile {
      width: 100%;
    }
  }
}
